<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form method="post">
        {% csrf_token %}
        <h1>ADD USER</h1>
        <label>Name</label><br>
        <input type="text" name="name" placeholder="Enter Name">
        <br><br>
        <label>DOB</label><br>
        <input type="date" name="dob" placeholder="Enter date">
        <br><br>
        <lebel>Mobile</lebel><br>
        <input type="number" name="mobile" placeholder="Enter Number">
        <br><br>
        <lebel>Email</lebel><br>
        <input type="email" name="email" placeholder="Enter email">
        <br><br>
        <lebel>Gender</lebel>
        <br>
        <input type="radio" value="Male" name="gender">Male
        <input type="radio" value="Female" name="gender">Female
        <input type="radio" value="Other" name="gender">Other
        <br><br>
        <input type="submit" value="Add New">
        <input type="reset" value="Reset">
    </form>
</body>
</html>